<?xml version="1.0" encoding="UTF-8"?>

<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="name" default="dji0"/>

  <model name="$(arg name)">  
    <static>true</static>

    <xacro:arg name="base_link_frame" default="base_link"/>
    <xacro:arg name="world_frame" default="world"/>

    <xacro:arg name="robot_type" default="piraya"/>

    <xacro:property name="prop_type" value="$(arg robot_type)"/>    
    <xacro:property name="base_name" value="$(arg name)"/>

    <!-- Base platform -->
    <xacro:if value="${prop_type == 'suv'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_suv_base.sdf.xacro"/>
      <xacro:lrs_suv_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'hatchback'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_hatchback_base.sdf.xacro"/>
      <xacro:lrs_hatchback_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'fire_truck'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_fire_truck_base.sdf.xacro"/>
      <xacro:lrs_fire_truck_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'piraya'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_piraya_base.sdf.xacro"/>
      <xacro:lrs_piraya_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'm100'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_m100_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'm300'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_m100_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human1'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human1_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human2'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human2_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human3'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human3_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human4'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human4_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human5'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human5_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human6'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human6_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'human7'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_human7_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'medkit'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_medkit_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'miniusv'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_miniusv_base.sdf.xacro"/>
      <xacro:lrs_m100_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

    <xacro:if value="${prop_type == 'miniugv'}">    
      <xacro:include filename="$(find lrs_halmstad)/xacro/lrs_miniugv_base.sdf.xacro"/>
      <xacro:lrs_miniugv_macro base_link_name="$(arg base_link_frame)"/>
    </xacro:if>

  </model>
</sdf>

